.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #f5f5f5;
    color: black;
    text-align: left;
    padding-top: 12px;
    padding-left: 10px;
    display: flex;
}