.button {
    border: 1px solid #e5e5e5;
    padding: 5px;
    color: #888;
    font-weight: 600;
    font-size: 30px;
    border-radius: 4px;
    transition: all .3s;
    width: 100%;
}

.button:hover {
    border: 1px solid transparent;
    background: #16a028;
    color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.title {
    text-align: center;
    padding-top: 45px;
    font-size: 40px;
    font-weight: bolder;
}